body{
  font-family: 'Lexend Giga','Indie Flower','Baloo Paaji 2','Source Code Pro', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #DFF3E4;
}

header{
  position: fixed;
  background: #003554;
  padding: 5px;
  width: 100%;
  height: 60px;
}

header img{
  height: 55px;
}

.nav-bar{
  position: fixed;
  margin-top: 70px;
  padding-top: 20px;
  left: 0;
  height:100%;
  width: 370px;
  background: #006494;
}

.nav-bar a{
  color: #ffffff;
  font-size: medium;
  display: block;
  width: 100%;
  line-height: 35px;
  text-decoration: none;
  padding-left: 30px;
  box-sizing: border-box;
  transition: 0.5s;
}

.nav-bar a:hover{
  background: #00A6FB;
  color: #000;
}

.topic{
  position: fixed;
  width: 100%;
  height: 80px;
  max-width: 290px;
  font-size: 18px;
  padding: 0 10px 10px 10px;
  margin: 0 20px 30px 10px;
  text-align: center;
}
#nav-bar ul{
  list-style: none;
  padding: 0;
  height: 80%;
  margin-top: 140px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-family: 'Baloo Paaji 2',serif;
  font-weight: 400;
}
#nav-bar li{
  border-top: 1px dashed black;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 10px 10px 20px;
  margin: 0;
}
.nav-link{
  text-align: center;
  text-decoration: none;
  color: black;
}
#main-doc{
  margin-left: 350px;
  position: static;
  padding: 20px;
  background-position: center;
}
.main-section h2{
  padding-top: 70px;
  padding-left: 10px;
  font-size: 30px;
  margin-left: 0;
  font-weight: bolder;
}
.main-section article{
  text-align: justify;
  padding: 10px;
  font-size: 21px;
  font-family: sans-serif;
}
code{
  background-color: white;
  display: block;
  font-family: 'Source Code Pro';
  font-weight:600;
  padding: 15px;
  margin-left: 15px;
}

code:hover{
  background-color: #584C6B;
  color:white;

}



/* footer */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}



.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


