body{
  font-family: 'Lexend Giga','Indie Flower','Baloo Paaji 2','Source Code Pro', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  position:relative;
  line-height: 1.75;
  display: block;
}
#nav-bar{
  position: fixed;
  left: 0;
  height:100%;
  max-width: 320px;
  border-right: 2px solid black;
}
.topic{
  position: fixed;
  width: 100%;
  height: 80px;
  max-width: 290px;
  font-size: 18px;
  padding: 0 10px 10px 10px;
  margin: 0 20px 30px 10px;
  text-align: center;
}
#nav-bar ul{
  list-style: none;
  padding: 0;
  height: 80%;
  margin-top: 140px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-family: 'Baloo Paaji 2',serif;
  font-weight: 400;
}
#nav-bar li{
  border-top: 1px dashed black;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 10px 10px 20px;
  margin: 0;
}
.nav-link{
  text-align: center;
  text-decoration: none;
  color: black;
}
#main-doc{
  margin-left: 350px;
  position: absolute;
  padding: 20px;
}
.main-section header{
  font-size: 30px;
  margin-left: 0;
  font-weight: bolder;
}
.main-section article{
  text-align: justify;
  padding: 10px;
  font-size: 21px;
  font-family: sans-serif;
}
code{
  background-color: white;
  display: block;
  font-family: 'Source Code Pro';
  font-weight:600;
  padding: 15px;
  margin-left: 15px;
}
.nav-link:hover{
	background-color: #71687D;
	color: white;
}
code:hover{
  background-color: #584C6B;
  color:white;

}

ul {
  background-color: palegreen;
}
